# .github/workflows/update.yml
name: Update geosite & geoip JSON

on:
  schedule:
    - cron: "0 3 * * *"  # ежедневно в 03:00 UTC
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install ProtobufJS
        run: npm install protobufjs

      - name: Run parser
        run: node parse.js
        
      - name: Commit and push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add data/geosite.json data/geoip.json
          git commit -m "Update JSON files"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/orkhv/geosite-geoip-viewer.git HEAD:main
        

      